
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 990px;
  height: 630px;
  border: solid black;
  background-color: black;
}

.grid div {
  width: 30px;
  height: 30px;
}

.grid div.ghost {
    background-image: url('https://img.icons8.com/color/48/000000/bill-cipher.png');
    background-size: 30px;
    border-radius: 10px;
  }

.food-dot {
  height: 10%;
  border: 12px solid black;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: #DEA185;
  background-size: 5px 5px;
}

.wall {
  background-color: #2121DE;
  border-radius: 1px;
}

.super-food {
  background-image: url('https://img.icons8.com/emoji/48/000000/cucumber-emoji.png');
  border-radius: 10px;
  background-size: 30px;
}

.pac-man {
  width: 30px;
  height: 30px;
  background-image: url('https://img.icons8.com/color/48/000000/rick-sanchez.png');
  background-size: 30px;
}

.scared-ghost {
  background-image: url('https://img.icons8.com/plumpy/24/000000/bill-cipher.png');
  background-size: 30px;
}
